<div class="login-page">
    <div class="header" >
        <h2>Taskie</h2>
    </div>
    <div class="login-form">
        <div class="sub-heading">
            <h3> Log in to Taskie</h3>
        </div>
        <div class="content">
            <form>
                <input type="text" id="email" name="email" placeholder="Enter Email"><br><br>
                <input type="text" id="password" name="password" placeholder="Enter Password"><br><br>
                <input type="submit" value="Login">
            </form>
            <fa-icon [icon]="faCoffee"></fa-icon>
            <div>
            <i class='fab fa-google'>fa-lg</i><br/>
            </div>
        </div>
        <div class=""></div>
    </div>
</div>